$color-primery: #F9804B;
$color-primery-light: #FE9013;
$color-primery-dark: #E47209;
$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #FFEE2E;
$color-link-activ: #4B9200;
$color-black-light: #333B41;
$color-gray-light: #BDBDBD;
$color-gray-dark: #767474;
$color-range-bg: #F5F7F6;
$color-background-item: #F1F3F2;
$color-pink-1: #FEBDAB;
$color-pink-2: #F3A9F8;
$color-pink-3: #E0D8F0;
$color-pink-4: #EAF7FE;
$color-footer-bg: #111115;
$color-mistake: #D31414;
$color-progress-bar: #404950;
$color-progress-bar-line: #72828E;
$color-border-gray: #929699;
$container-width: 1160px;
$subcontainer-width: 1041px;
//$subcontainer-width: 976px;