$color-primery: #F9804B;
$color-primery-light: #FE9013;
$color-primery-dark: #E47209;
$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #FFEE2E;
$color-link-activ: #4B9200;
$color-black-light: #333B41;
$container-width: 1160px;