.peek-feed-donate {
    padding-top: 42px;
    padding-bottom: 179px;
    @media (max-width: $small-width) {
        padding-bottom: 30px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 31px;
        padding-bottom: 45px;
    }
    @media (max-width: $mobile-width) {
        padding-bottom: 21px;
    }
}

.peek-feed-donate__title {
    padding-right: 4px;
    padding-bottom: 8px;
    color: $color-white;
    text-align: center;
    @media (max-width: $small-width) {
        padding-right: 190px;
        padding-bottom: 29px;
        text-align: left;
    }
    @media (max-width: $tablet-width) {
        font-size: 24px;
        line-height: 28.8px;
        padding-right: 0;
        padding-bottom: 20px;
    }
}

.peek-feed-donate__title_orange {
    color: $color-primery-light;
    @media (max-width: $mobile-width) {
        font-size: 24px;
        line-height: 28.8px;
    }
}

.peek-feed-donate__text {
    padding-bottom: 46px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    color: $color-white;
    @media (max-width: $small-width) {
        padding-right: 6px;
        padding-bottom: 46px;
    }
    @media (max-width: $tablet-width) {
        padding-bottom: 28px;
    }
}

.main-donate .container {
    @media (max-width: $tablet-width) {
        margin: 0 20px;
    }
    @media (max-width: 348px) {
        margin: 0 11px;
    }
    
}

.peek-feed-donate__content {
    padding: 0;
    margin-top: 59px;
    @media (max-width: $small-width) {
        margin-top: 48px;
    }
    @media (max-width: $tablet-width) {
        margin-top: 39px;
    }
}

.peek-feed-donate__content .subcontainer {
    max-width: 976px;
    padding-bottom: 61.98px;
    padding-left: 0;
    @media (max-width: $small-width) {
        padding-bottom: 45px;
    }
    @media (max-width: $tablet-width) {
        padding-bottom: 29px;
    }
    @media (max-width: $mobile-width) {
        padding-bottom: 18px;
    }
}

.peek-feed-donate__content .peek-feed__title {
    padding-top: 40px;
    padding-right: 14px;
    padding-bottom: 22px;
    @media (max-width: $small-width) {
        padding-top: 21px;
        padding-bottom: 10px;  
    }
    @media (max-width: $tablet-width) {
        padding-top: 30px;
        padding-bottom: 24px;
        font-size: 48px;
        line-height: 57.6px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 20px;
        padding-left: 13px;
        padding-bottom: 9px;
        font-size: 24px;
        line-height: 28.8px;
    }
    
}

.peek-feed-donate__content .peek-feed__subtitle {
    color: $color-black-light;
    @media (max-width: $small-width) {
        padding-left: 47px;
        padding-right: 47px;
    }
    @media (max-width: $tablet-width) {
        padding: 0;
        padding-right: 0;
        font-size: 24px;
        line-height: 28.8px;
        text-align: center;
    }
    @media (max-width: $mobile-width) {
        font-size: 15px;
        line-height: 22.4px;
    }
}

.animal-block {
    display: flex;
    align-items: center;
    column-gap: 89px;
    padding-left: 215px;
    padding-bottom: 49px;
    @media (max-width: $small-width) {
        padding-left: 196px;
    }
    @media (max-width: 806px) {
        padding-left: 90px;
    }
    @media (max-width: 700px) {
        column-gap: 35px;
    }
    @media (max-width: $tablet-width) {
        padding-left: 28px;
        padding-bottom: 41px;
        column-gap: 88px;
    }
    @media (max-width: 528px) {
        column-gap: 40px;
    }
    @media (max-width: $mobile-width) {
        column-gap: 26px;
        padding-left: 0;
        padding-bottom: 4px;
    }
}

.animal-block__date {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 74px;
    @media (max-width: $small-width) {
        padding-top: 96px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 104px;
    }
    @media (max-width: $mobile-width) {
        width: 200px;
        padding-top: 41px;
        row-gap: 7px;
    }
}

.animal-block__number {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 57.6px;
    color: $color-black;
    @media (max-width: $mobile-width) {
        padding-right: 24px;
        font-size: 40.6px;
        line-height: 32.48px;
        
    }
}

.animal-block__text {
    @media (max-width: $mobile-width) {
        margin-left: -23px;
        font-size: 9.02px;
        line-height: 12.63px;
    }
}

.animal-block__close {
    position: absolute;
    right: -25px;
    bottom: 53px;
    @media (max-width: $mobile-width) {
        right: 10px;
        bottom: 30px;
    }
}

.close {
    width: 14px;
    height: 14px;
    background-image: url(../../assets/icons/x_icon.svg);
    @media (max-width: $mobile-width) {
        width: 8px;
        height: 8px;
        background-image: url(../../assets/icons/x_icon-320.svg);
    }
}


.animal-block__image {
    position: relative;
    padding-top: 18px;
    @media (max-width: $small-width) {
        padding-top: 38px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 49px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 10px;
    }
}

.animal-block__image img {
    display: block;
    width: 100%;
    height: auto;
}

.amount__text {
    padding-left: 4px;
    padding-bottom: 16px;
    text-align: left;
    @media (max-width: $small-width) {
        padding-left: 65px;
    }
    @media (max-width: $tablet-width) {
        padding-left: 10px;
        padding-bottom: 5px;
    }
    @media (max-width: $mobile-width) {
        padding-left: 0;
        padding-bottom: 7px;
    }
}

.amount__form {
    
}

.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 27px;
    margin-bottom: 50px;
    background-color: $color-progress-bar;
    @media (max-width: $small-width) {
        margin: 0 65px;
    }
    @media (max-width: $tablet-width) {
        margin: 0;
    }
    @media (max-width: $mobile-width) {
        height: 15px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        height: 2px;
        width: 94%;
        margin-left: 2.7%;
        margin-right: 3.3%;
        margin-top: -2px;
        background-color: $color-progress-bar-line;

        @media (max-width: $small-width) {
            width: 97%;
            margin-left: 1.7%;
        }
        @media (max-width: 846px) {
            width: 96%;
        }
        @media (max-width: 806px) {
            width: 95%;
            margin-left: 2.7%;
        }
        @media (max-width: $tablet-width) {
            width: 87%;
            margin-left: 6.7%;
        }
        @media (max-width: 528px) {
            width: 85%;
            margin-left: 7.7%;
        }
        @media (max-width: 430px) {
            width: 82%;
            margin-left: 8.7%;
        }
        @media (max-width: 375px) {
            width: 78%;
            margin-left: 10.7%;
        }
        @media (max-width: $mobile-width) {
            width: 88%;
            margin-left: 5.7%;
            margin-top: -1px;
        }
    }
}

.progress-bar__content {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 0.6%;
    margin-right: 1%;
    text-align: start;
    justify-content: space-between;
    z-index: 5;
    @media (max-width: $small-width) {
        width: 103%;
        margin-left: -1.4%;
        margin-right: -2%;
    }
    @media (max-width: $tablet-width) {
        width: 95%;
        margin-left: 2.6%;
        margin-right: 0%;
    }
    @media (max-width: $mobile-width) {
        width: 103%;
        margin-left: -1.4%;
        margin-right: 0%;
    }
}

.progress-bar__item {
    position: relative;
    &:nth-child(1) {
        @media (max-width: $small-width) {
            display: none;
        }
    }
    &:nth-child(2) {
        @media (max-width: 700px) {
            display: none;
        }
    }
    &:nth-child(3) {
        @media (max-width: 700px) {
            display: none;
        }
    }

}

input[type="radio"].progress-bar__input {
    position: relative;
    //width: 10px;
    //height: 10px;
    width: 50px;
    height: 50px;
    padding: 20px;
    background-clip: content-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: $color-yellow;
    -webkit-appearance: none;
    appearance: none;
    @media (max-width: $mobile-width) {
        width: 45px;
        height: 45px;
    }
}

.progress-bar__item input[type='radio'] {
    cursor: pointer;
}

input[type="radio"].progress-bar__input::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 11.6px;
    width: 22.4px;
    height: 22.4px;
    background-color: transparent;
    border: 2px solid $color-primery-light;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s ease-out;
    @media (max-width: $mobile-width) {
        top: 18px;
        left: 16px;
        width: 9.4px;
        height: 9.4px;
        border: 1px solid $color-primery-light;
    }
}

input[type="radio"].progress-bar__input:checked::before {
    transform: scale(1);
}

input[type="radio"].progress-bar__input:hover::before {
    transform: scale(1);
}

input[type="radio"].progress-bar__input::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 2px solid $color-primery-light;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s ease-out;
    @media (max-width: $mobile-width) {
        top: 14px;
        left: 12px;
        width: 17.4px;
        height: 17.4px;
        border: 1px solid $color-primery-light;
    }
}

input[type="radio"].progress-bar__input:checked::after {
    transform: scale(1);
}

input[type="radio"].progress-bar__input:hover::after {
    transform: scale(1);
}

.progress-bar__price {
    position: absolute;
    left: -8px;
    top: 53px;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36.4px;
    color: $color-black-light;
    @media (max-width: $small-width) {
        left: 7px;
    }
    @media (max-width: $tablet-width) {
        left: -1px;
    }
    @media (max-width: 430px) {
        font-size: 13px;
        line-height: 18.2px;
    }
    @media (max-width: $mobile-width) {
        top: 40px;
        left: 11px;
    }
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-5000'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-5000'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-2000'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-2000'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-1000'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-1000'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-500'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-500'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-250'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-250'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-100'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-100'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-50'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-50'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:checked ~ label[for='amount-25'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

input[type="radio"].progress-bar__input:hover ~ label[for='amount-25'] {
    transition: all 0.3s ease-out;
    color: $color-primery-light;
}

.amount__input {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    @media (max-width: $small-width) {
        padding-top: 98px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 49px
    }
}

.amount__choice {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 30px;
    @media (max-width: $tablet-width) {
        padding-top: 30px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 25px;
        padding-bottom: 27px;
    }
}

.choice-group {
    display: flex;
    column-gap: 50px;
    margin-left: -17px;
}

.choice-group__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

input[type="radio"].choice-group__input {
    position: relative;
    //display: grid;
    //place-content: center;
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid $color-primery-light;
    background-color: $color-white;
    -webkit-appearance: none;
    appearance: none;
}

input[type="radio"].choice-group__input:checked {
    background-color: $color-primery-dark;
}

.amount__button {
    padding-bottom: 30px;
}

.amount__button .button {
    margin-left: 5px;
    @media (max-width: 348px) {
        margin-left: 0;
    }
}

.amout__text_last {
    padding-left: 5px;
    font-size: 16px;
    line-height: 22.4px;
    @media (max-width: 375px) {
        padding-right: 5px;
    }
    @media (max-width: $mobile-width) {
        font-size: 15.8px;
        line-height: 22.4px;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
        
    }
}
