.header {
	background-color: $color-black;
}

.header__container {
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo__image {

	@media (max-width: 480px) {
		width: 12rem;
		height: auto;
	}

}
.navigation {
	display: flex;
	column-gap: 5rem;

	@media (max-width: 320px) {
		column-gap: 2.5rem;
	}
}

.navigation-link {
	color: $color-white;
	&:hover {
		color: $color-primery;
		transition: all 0.3s ease-out;
	}

	@media (max-width: 480px) {
		font-size: 1.7rem;
	}
}

.navigation-link_activ {
	color: $color-primery;
}


