@import "abstract/constants";
@import "base/base";
@import "base/buttons";
@import "base/icons";
@import "base/logo";
@import "base/burger-menu";

@import "layouts/container";
@import "layouts/header";

@import "components/main/watch-block";
@import "components/main/backstage";
@import "components/main/pets";
@import "components/main/pick-feed";
@import "components/main/testimonials";

@import "layouts/footer";

@import "components/donate/watch-block";
@import "components/donate/pick-feed";




.main {
    margin-top: -80px;
    @media (max-width: $tablet-width) {
		margin-top: -46px;
	}
}

.main-donate {
    margin-top: 0px;
}



