.info {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.info-moves {
    display: flex;
    column-gap: 10px;
}

.move__text {
    
}

.info-time {
    display: flex;
    column-gap: 10px;
}

.time__value {
    display: flex;
    column-gap: 10px;
}