* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #FFFFFF;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 22.4px;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333B41;
}

h1 {
  font-size: 19.01px;
  line-height: 22.82px;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 640px) {
  h1 {
    font-size: 12.29px;
    line-height: 14.75px;
    font-weight: 400;
  }
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 57.6px;
  color: #333B41;
}
@media (max-width: 1000px) {
  h2 {
    margin-top: -10px;
  }
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46.8px;
  color: #333B41;
}

h4 {
  font-size: 24px;
  line-height: 28.8px;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  h5 {
    font-size: calc(12.5px + 3.5 * (100vw - 640px) / 360);
    line-height: calc(17.5px + 2.5 * (100vw - 640px) / 360);
  }
}
@media (max-width: 320px) {
  h5 {
    font-size: 12.5px;
    line-height: 17.5px;
  }
}

.smallParagraph {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.button {
  position: relative;
  display: inline-block;
  width: 298px;
  height: 55px;
  padding: 0px 0px 0px 7px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  line-height: 22.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FE9013 linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 1s;
}
.button:hover {
  background: #E47209;
  transition: all 0.3s ease-out;
}
.button:active {
  background-color: #4B9200;
}

.button-sumbit {
  padding: 9px 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #F1F3F2;
  cursor: pointer;
}
.button-sumbit_defoult {
  border: 1px solid #333B41;
}
.button-sumbit:hover {
  background-color: #BDBDBD;
  transition: all 0.3s ease-out;
}

input[type=email] {
  margin-right: 10px;
  padding: 10px 21px 10px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #BDBDBD;
  border: 0.7px solid #F9804B;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
}

input[type=email]:focus {
  border: 0.7px solid #4B9200;
}

input[type=number]:focus {
  border: 1px solid #4B9200;
}

input[type=email]:not(:focus):not(:placeholder-shown):invalid {
  border: 0.7px solid #D31414;
}

input[type=number]:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid #D31414;
  color: #D31414;
}

input[type=email]:not(:focus):not(:placeholder-shown):invalid + button {
  border: 1px solid #D31414;
  color: #D31414;
}

input[type=email]:not(:focus):not(:placeholder-shown):valid {
  border: 0.7px solid #F9804B;
}

input[type=number]:not(:focus):not(:placeholder-shown):valid {
  color: #4B9200;
  border: 1px solid #929699;
}

input[type=email]:not(:focus):not(:placeholder-shown):valid + button {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.input::placeholder {
  color: #BDBDBD;
}
.input :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BDBDBD;
}
.input ::-ms-input-placeholder { /* Microsoft Edge */
  color: #BDBDBD;
}

.input-default {
  position: relative;
  padding: 14px 21px 15px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.input-default_width-270 {
  width: 270px;
}
.input-default_gray {
  border: 1px solid #929699;
}

.inputwrapper {
  position: relative;
}

.inputwrapper::after {
  content: "$";
  position: absolute;
  right: 9px;
  top: 17px;
  font-size: 24px;
  color: #929699;
}

.icon {
  display: inline-block;
}
.icon_prev {
  width: 16px;
  height: 8px;
  background-image: url(../../assets/icons/arrow-prev_icon.svg);
  background-repeat: no-repeat;
}
.icon_next {
  width: 16px;
  height: 8px;
  background-image: url(../../assets/icons/arrow-next_icon.svg);
  background-repeat: no-repeat;
}
.icon_pay {
  width: 108px;
  height: 60px;
  background-image: url(../../assets/icons/pay_icon.svg);
  background-repeat: no-repeat;
  z-index: 5;
}
.icon_zoo {
  width: 85.77px;
  height: 96px;
  background-image: url(../../assets/icons/zoo_icon.svg);
  background-repeat: no-repeat;
  z-index: 5;
}
.icon_monkey {
  width: 124.75px;
  height: 73px;
  background-image: url(../../assets/icons/monkey_icon.svg);
  background-repeat: no-repeat;
  z-index: 5;
}
.icon_facebook {
  width: 8px;
  height: 16px;
  background-image: url(../../assets/icons/facebook_icon.svg);
  background-repeat: no-repeat;
}
.icon_twitter {
  width: 16px;
  height: 14px;
  background-image: url(../../assets/icons/twitter_icon.svg);
  background-repeat: no-repeat;
}
.icon_instagram {
  width: 16px;
  height: 16px;
  background-image: url(../../assets/icons/instagram_icon.svg);
  background-repeat: no-repeat;
}
.icon_youtube {
  width: 18px;
  height: 12.99px;
  background-image: url(../../assets/icons/youtube_icon.svg);
  background-repeat: no-repeat;
}
.icon_panda-donate {
  width: 284px;
  height: 246px;
  background-image: url(../../assets/icons/panda-donate_icon.svg);
  background-repeat: no-repeat;
}

.icon-circle {
  width: 62px;
  height: 62px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.icon-cicrcle_orange {
  background: #FE9013 linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.icon-cicrcle_orange:hover {
  background: #E47209;
  transition: all 0.3s ease-out;
}

.icon-cicrcle_orange:active {
  background-color: #4B9200;
  transition: all 0.3s ease-out;
}

.icon-circle_gray {
  background: rgba(196, 196, 196, 0.5);
}

.social .icon-circle {
  width: 26px;
  height: 26px;
}

.icon-square_white {
  position: relative;
  width: 168px;
  height: 168px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 4;
}
.icon-square_white::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #FFFFFF;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.logo {
  position: relative;
  padding: 3.55px 4.75px;
  border: 1px solid #FFFFFF;
}
@media (max-width: 640px) {
  .logo {
    padding: 0;
    border: 0;
  }
}
.logo:hover {
  border: 1px solid #F9804B;
}
.logo::after {
  content: url(../../assets/icons/bamboo.svg);
  position: absolute;
  bottom: 0;
  left: 10px;
}
@media (max-width: 640px) {
  .logo::after {
    content: url(../../assets/icons/bamboo-tablet.svg);
    position: absolute;
    bottom: -4px;
    left: 3px;
  }
}
.logo:hover::after {
  content: url(../../assets/icons/bamboo_hover.svg);
  position: absolute;
  bottom: 0;
  left: 10px;
}
@media (max-width: 640px) {
  .logo:hover::after {
    content: url(../../assets/icons/bamboo-tablet_hover.svg);
    position: absolute;
    bottom: -4px;
    left: 3px;
  }
}

.header__burger {
  display: none;
}
@media (max-width: 640px) {
  .header__burger {
    display: block;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 640px) {
  .burger {
    row-gap: 2px;
  }
}
.burger::after {
  content: "";
  width: 18px;
  height: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
}
.burger::before {
  content: "";
  width: 18px;
  height: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.burger span {
  width: 18px;
  height: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}
@media (max-width: 1160px) {
  .container {
    margin: 0 30px;
  }
}
@media (max-width: 640px) {
  .container {
    margin: 0 20px 0 20.07px;
  }
}
@media (max-width: 320px) {
  .container {
    margin: 0 10px 0 10.07px;
  }
}

.subcontainer {
  max-width: 1041px;
  margin: 0 auto;
  padding-bottom: 59px;
  padding-left: 39px;
}

.header {
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  z-index: 100;
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header__container {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .header__container {
    min-height: 34px;
  }
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .header-navigation {
    width: 100%;
  }
}

.header__navigation {
  padding-left: 63px;
}
@media (max-width: 1000px) {
  .header__navigation {
    padding-left: calc(20px + 43 * (100vw - 641px) / 359);
  }
}
@media (max-width: 640px) {
  .header__navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  gap: 58px;
}
@media (max-width: 1000px) {
  .navigation {
    gap: calc(25px + 23 * (100vw - 641px) / 359);
  }
}

.header-link {
  color: #FFFFFF;
}
.header-link_activ {
  color: #F9804B;
}
.header-link:hover {
  color: #F9804B;
  transition: 0.5s;
}

@media (max-width: 640px) {
  .designed-link {
    display: none;
  }
}

.watch-block {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 48.7%;
  background-image: url(../../assets/images/giant-panda.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
@media (max-width: 1000px) {
  .watch-block {
    padding-top: 58.4%;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 768px) {
  .watch-block {
    padding-top: 63.4%;
  }
}
@media (max-width: 640px) {
  .watch-block {
    padding-top: 65.4%;
    background-position: -103px 27px;
  }
}
@media (max-width: 552px) {
  .watch-block {
    padding-top: 76.4%;
  }
}
@media (max-width: 440px) {
  .watch-block {
    padding-top: 86.4%;
  }
}
@media (max-width: 363px) {
  .watch-block {
    padding-top: 96.4%;
  }
}
@media (max-width: 320px) {
  .watch-block {
    padding-top: 83.4%;
    background-position: -32px 80px;
    background-size: 120%;
  }
}

.watch-block__container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.watch-block__content {
  position: relative;
  padding-top: 86px;
  padding-right: 10px;
  z-index: 10;
}
@media (max-width: 1600px) {
  .watch-block__content {
    padding-top: calc(48px + 38 * (100vw - 1001px) / 599);
    padding-right: calc(100px + -90 * (100vw - 1001px) / 599);
  }
}
@media (max-width: 1000px) {
  .watch-block__content {
    padding-top: calc(49px + -7 * (100vw - 640px) / 360);
    padding-right: calc(1px + 64 * (100vw - 640px) / 360);
  }
}
@media (max-width: 320px) {
  .watch-block__content {
    padding-top: 43px;
  }
}

.watch-block__text {
  position: relative;
  font-weight: 700;
  font-size: 106.5px;
  line-height: 79.87px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  z-index: 10;
}
@media (max-width: 1600px) {
  .watch-block__text {
    font-size: calc(72.5px + 34 * (100vw - 1001px) / 599);
    line-height: calc(55.87px + 24 * (100vw - 1001px) / 599);
  }
}
@media (max-width: 1000px) {
  .watch-block__text {
    font-size: calc(54.4px + 30.6 * (100vw - 640px) / 360);
    line-height: calc(40.8px + 23.2 * (100vw - 640px) / 360);
  }
}
@media (max-width: 320px) {
  .watch-block__text {
    font-size: 28px;
    line-height: 21px;
  }
}

.watch-block__text span {
  color: #FFEE2E;
}

.watch-block__button {
  padding-top: 61px;
  padding-right: 100px;
  text-align: center;
}
@media (max-width: 1600px) {
  .watch-block__button {
    padding-top: calc(15px + 46 * (100vw - 1001px) / 599);
    padding-right: calc(115px + -15 * (100vw - 1001px) / 599);
  }
}
@media (max-width: 1000px) {
  .watch-block__button {
    padding-top: 40px;
    padding-right: 106px;
  }
}
@media (max-width: 980px) {
  .watch-block__button {
    padding-top: 0px;
    padding-right: 0px;
    align-self: flex-start;
  }
}
@media (max-width: 640px) {
  .watch-block__button {
    margin-top: -10px;
  }
}
@media (max-width: 552px) {
  .watch-block__button {
    margin-top: 0px;
    padding-top: 5px;
  }
}
@media (max-width: 320px) {
  .watch-block__button {
    padding-top: 59px;
  }
}

.circle {
  position: absolute;
  top: 12px;
  left: -81px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 9;
}
@media (max-width: 1600px) {
  .circle {
    width: calc(320px + 145 * (100vw - 1001px) / 599);
    height: calc(320px + 145 * (100vw - 1001px) / 599);
    top: calc(10px + 2 * (100vw - 1001px) / 599);
    left: calc(-55px + -26 * (100vw - 1001px) / 599);
  }
}
@media (max-width: 1000px) {
  .circle {
    top: calc(12px + -23 * (100vw - 640px) / 360);
    left: calc(-41px + -22 * (100vw - 640px) / 360);
    width: calc(237px + 130 * (100vw - 640px) / 360);
    height: calc(237px + 130 * (100vw - 640px) / 360);
  }
}
@media (max-width: 320px) {
  .circle {
    top: 21px;
  }
}

.backstage {
  padding-top: 140px;
  padding-bottom: 100px;
  background-image: url(../../assets/images/flower-foto-1.png);
  background-repeat: no-repeat;
  background-position: right 0px top 12px;
}
@media (max-width: 1600px) {
  .backstage {
    background-position: right calc(-180px + 180 * (100vw - 1000px) / 600) top 12px;
  }
}
@media (max-width: 1000px) {
  .backstage {
    padding-top: 109px;
    background-position: right -200px top 12px;
  }
}
@media (max-width: 640px) {
  .backstage {
    padding-top: calc(115px + -45 * (100vw - 320px) / 320);
    background-image: url(../../assets/images/flower-foto-1-640.png);
    background-position: right 0px top -5px;
    padding-bottom: 75px;
  }
}
@media (max-width: 480px) {
  .backstage {
    background-size: 19%;
    background-position: right -28px top 38px;
  }
}
@media (max-width: 320px) {
  .backstage {
    padding-bottom: 38px;
  }
}

.backstage__content {
  display: flex;
}
@media (max-width: 768px) {
  .backstage__content {
    flex-direction: column;
    row-gap: 10px;
  }
}

.backstage__image {
  flex: 0 1 52.5%;
}
@media (max-width: 1000px) {
  .backstage__image {
    flex: 0 1 48.5%;
  }
}
@media (max-width: 640px) {
  .backstage__image {
    display: none;
  }
}

.backstage__image img {
  width: 100%;
  height: auto;
}

.backstage-image_active {
  display: block;
}
@media (max-width: 1000px) {
  .backstage-image_active {
    display: none;
  }
}

.backstage-image_hidden {
  display: none;
}
@media (max-width: 1000px) {
  .backstage-image_hidden {
    display: block;
  }
}

.backstage__text {
  flex: 0 1 47.5%;
  padding-left: 86px;
}
@media (max-width: 1600px) {
  .backstage__text {
    padding-left: calc(31px + 55 * (100vw - 1000px) / 600);
    padding-right: calc(40px + -40 * (100vw - 1001px) / 599);
  }
}
@media (max-width: 1000px) {
  .backstage__text {
    padding-right: 0px;
    flex: 0 1 51.5%;
  }
}
@media (max-width: 640px) {
  .backstage__text {
    padding-right: 110px;
  }
}
@media (max-width: 480px) {
  .backstage__text {
    padding-right: calc(5px + 105 * (100vw - 320px) / 160);
  }
}

.backstage__title {
  padding-bottom: 22px;
}
@media (max-width: 640px) {
  .backstage__title {
    font-size: calc(24px + 24 * (100vw - 320px) / 320);
    line-height: calc(28.8px + 28.8 * (100vw - 320px) / 320);
    padding-bottom: calc(10px + 12 * (100vw - 320px) / 320);
  }
}

.backstage__subtitle {
  padding: 53px 0 32px;
}
@media (max-width: 640px) {
  .backstage__subtitle {
    padding: calc(17px + 10 * (100vw - 320px) / 320) 0 calc(7px + 11 * (100vw - 320px) / 320);
  }
}

.pets {
  padding-top: 74px;
  padding-bottom: 100px;
  background-image: url(../../assets/images/palm-bg-foto-1.png), url(../../assets/images/strelitzia-bg-foto-1.png);
  background-position: left 0px bottom 0px, right 0px bottom 0px;
  background-repeat: no-repeat;
}
@media (max-width: 1599px) {
  .pets {
    padding-top: calc(40px + 34 * (100vw - 1000px) / 340);
    padding-bottom: 138px;
    background-image: url(../../assets/images/palm-bg-foto-2.png), url(../../assets/images/strelitzia-bg-foto-2.png);
  }
}
@media (max-width: 640px) {
  .pets {
    padding-bottom: 100px;
    background-position: left -58px bottom 0px, right 0px bottom 0px;
    background-image: url(../../assets/images/palm-bg-foto-2.png), url(../../assets/images/strelitzia-bg-foto-3.png);
  }
}
@media (max-width: 639px) {
  .pets {
    padding-bottom: 60px;
    background-image: url(../../assets/images/palm-bg-foto-320.png), url(../../assets/images/strelitzia-bg-foto-320.png);
    background-position: left 0px bottom 0px, right 0px bottom -4px;
  }
}

.pets__slider {
  padding-bottom: 80px;
}
@media (max-width: 640px) {
  .pets__slider {
    padding-bottom: 61px;
  }
}
@media (max-width: 639px) {
  .pets__slider {
    padding-bottom: 20px;
  }
}

.slider__wrapper {
  position: relative;
}

.slider__nav {
  position: absolute;
  top: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 872px;
}
.slider__nav_prev {
  left: -82px;
}
@media (max-width: 1340px) {
  .slider__nav_prev {
    left: calc(323px + 70 * (100vw - 1000px) / 340);
  }
}
@media (max-width: 1000px) {
  .slider__nav_prev {
    left: calc(205px + 118 * (100vw - 641px) / 359);
  }
}
@media (max-width: 640px) {
  .slider__nav_prev {
    left: 223px;
  }
}
.slider__nav_prev span {
  cursor: pointer;
}
.slider__nav_next {
  right: -80px;
}
@media (max-width: 1340px) {
  .slider__nav_next {
    right: calc(322px + 74 * (100vw - 1000px) / 340);
  }
}
@media (max-width: 1000px) {
  .slider__nav_next {
    right: calc(205px + 117 * (100vw - 641px) / 359);
  }
}
@media (max-width: 640px) {
  .slider__nav_next {
    right: 223px;
  }
}
.slider__nav_next span {
  cursor: pointer;
}
@media (max-width: 1340px) {
  .slider__nav {
    display: block;
    height: auto;
    top: calc(369px + 65 * (100vw - 1000px) / 340);
  }
}
@media (max-width: 1000px) {
  .slider__nav {
    top: calc(258px + 111 * (100vw - 641px) / 359);
  }
}
@media (max-width: 640px) {
  .slider__nav {
    top: 344px;
  }
}
@media (max-width: 639px) {
  .slider__nav {
    display: none;
  }
}

.slider__body {
  width: 100%;
  overflow: hidden;
}

.slider__content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  left: 0;
}
@media (max-width: 1340px) {
  .slider__content {
    flex-direction: row;
    column-gap: 26px;
  }
}
@media (max-width: 999px) {
  .slider__content {
    column-gap: 25px;
  }
}
@media (max-width: 639px) {
  .slider__content {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .slider__content {
    justify-content: flex-start;
  }
}

.slider__block {
  display: flex;
  column-gap: 27px;
}
@media (max-width: 1600px) {
  .slider__block {
    row-gap: calc(92px + -72 * (100vw - 1340px) / 260);
  }
}
@media (max-width: 1340px) {
  .slider__block {
    flex-direction: column;
    row-gap: 92px;
  }
}
@media (max-width: 639px) {
  .slider__block {
    row-gap: 20px;
  }
}

@media (max-width: 639px) {
  .slider__block-2 {
    display: none;
  }
}

.block-one, .block-two {
  display: flex;
  column-gap: 27px;
}
@media (max-width: 1340px) {
  .block-one, .block-two {
    column-gap: 26px;
  }
}
@media (max-width: 999px) {
  .block-one, .block-two {
    column-gap: 25px;
  }
}
@media (max-width: 639px) {
  .block-one, .block-two {
    flex-direction: column;
  }
}
@media (max-width: 639px) {
  .block-one, .block-two {
    row-gap: 20px;
  }
}

@media (max-width: 1340px) {
  .block-one-2 .slider__item_1 {
    order: 2;
    display: none;
  }
}
@media (max-width: 1000px) {
  .block-one-2 .slider__item_1 {
    display: block;
  }
}

@media (max-width: 1340px) {
  .block-one-2 .slider__item_2 {
    order: 1;
  }
}

@media (max-width: 1340px) {
  .block-two-2 .slider__item_3 {
    order: 1;
  }
}

@media (max-width: 1340px) {
  .block-two-2 .slider__item_4 {
    order: 2;
    display: none;
  }
}
@media (max-width: 1000px) {
  .block-two-2 .slider__item_4 {
    display: block;
  }
}

.slider__item {
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #FE9013;
}
.slider__item:hover {
  cursor: pointer;
}
.slider__item:hover .info__name, .slider__item:hover .info__location {
  top: -80px;
  color: #FFFFFF;
  transition: all 0.5s ease-out;
}
.slider__item:hover .slider__image::after {
  opacity: 1;
  transition: all 0.3s ease-out;
}
.slider__item:hover .slider__image img {
  transform: scale(1.05);
  transition: all 0.5s ease-out;
}

.slider__image {
  position: relative;
  width: 366px;
  overflow: hidden;
}
@media (max-width: 1340px) {
  .slider__image {
    width: calc(294px + 72 * (100vw - 1000px) / 340);
  }
}
@media (max-width: 1000px) {
  .slider__image {
    width: calc(175px + 119 * (100vw - 641px) / 359);
  }
}
@media (max-width: 640px) {
  .slider__image {
    width: 285.24px;
  }
}

.slider__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.slider__image img {
  display: block;
  width: 100%;
  height: auto;
}

.slider__info {
  position: relative;
  padding: 9px 55px 12px 15px;
  background-repeat: no-repeat;
}
@media (max-width: 640px) {
  .slider__info {
    padding: 6px 55px 7px 12px;
  }
}

.slider__info_eat-banana {
  background-image: url(../../assets/icons/eat-banana_icon.svg);
  background-position: top 11px right 11px;
}
@media (max-width: 640px) {
  .slider__info_eat-banana {
    background-size: 10%;
    background-position: top 6px right 11px;
  }
}

.slider__info_eat-meat {
  background-image: url(../../assets/icons/eat-meat_icon.svg);
  background-position: top 9px right 7px;
}
@media (max-width: 640px) {
  .slider__info_eat-meat {
    background-size: 13%;
    background-position: top 7px right 6px;
  }
}
@media (max-width: 320px) {
  .slider__info_eat-meat {
    background-size: 13%;
    background-position: top 7px right 8px;
  }
}

.info__name {
  position: relative;
  top: 0;
}

.info__location {
  position: relative;
  top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.info__location_activ {
  display: block;
}
@media (max-width: 640px) {
  .info__location_activ {
    display: none;
  }
}
.info__location_hidden {
  display: none;
}
@media (max-width: 640px) {
  .info__location_hidden {
    display: block;
  }
}
@media (max-width: 1000px) {
  .info__location {
    font-size: calc(11.7px + 3.3 * (100vw - 640px) / 360);
    line-height: calc(14px + 4 * (100vw - 640px) / 360);
  }
}
@media (max-width: 320px) {
  .info__location {
    font-size: 11.7px;
    line-height: 14px;
  }
}

.pets__button {
  display: flex;
  justify-content: center;
}

.pets .button {
  padding: 0px 0px 0px 3px;
}

.peek-feed {
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.peek-feed a {
  display: inline-block;
  border-bottom: 1px solid #F9804B;
  color: #000000;
}

.peek-feed__content {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

.peek-feed__title {
  padding-right: 39px;
  padding-bottom: 33px;
  padding-top: 40px;
  color: #FE9013;
}

.peek-feed__subtitle {
  padding-bottom: 41px;
}

.peek-feed__subtitle,
.peek-feed__text,
.peek-feed__text-bold {
  text-align: justify;
}

.peek-feed__text,
.peek-feed__text-bold {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}

.peek-feed__text-bold {
  padding-bottom: 9px;
  font-weight: 500;
}

.payment {
  padding-top: 60px;
}

.payment__title {
  padding-right: 42px;
  padding-bottom: 40px;
}

.payment__content {
  display: flex;
  justify-content: space-around;
  padding-right: 48px;
  padding-bottom: 61px;
}

.payment__item {
  flex: 0 1 168px;
}

.payment__item_left {
  padding-left: 36px;
}

.payment__item_right {
  padding-right: 26px;
}

.payment__text {
  text-align: left;
  padding-top: 29px;
}

.payment__item_arrow {
  position: relative;
}
.payment__item_arrow::after {
  position: absolute;
  content: url(../../assets/icons/arrow_icon.svg);
  top: 59px;
  right: -100px;
}

.payment__button {
  padding-right: 40px;
}

.testimonials {
  padding-top: 140px;
  padding-bottom: 179px;
  background-image: url(../../assets/images/leav-foto.png);
  background-position: right bottom -132px;
  background-repeat: no-repeat;
}

.testimonials__title {
  padding-bottom: 45px;
  text-align: center;
}

.testimonials__button .button {
  padding: 0px 0px 0px 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.feedbacks__row {
  display: flex;
  margin: 0 -15px;
}

.feedbacks__column {
  flex: 0 1 25%;
  padding: 0 15px;
}

.feedbacks__item {
  position: relative;
  padding: 15px 15px 22px 16px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.feedbacks__item::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background: #F1F3F2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.feedbacks__user,
.feedbacks__text {
  position: relative;
  z-index: 5;
}

.feedbacks__user {
  padding-top: 1px;
  padding-left: 47px;
  padding-bottom: 7px;
  background-position: top left;
  background-repeat: no-repeat;
}

.feedbacks__user_1 {
  background-image: url(../../assets/icons/user-1_icon.svg);
}

.feedbacks__user_2 {
  background-image: url(../../assets/icons/user-2_icon.svg);
}

.feedbacks__user_3 {
  background-image: url(../../assets/icons/user-3_icon.svg);
}

.feedbacks__user_4 {
  background-image: url(../../assets/icons/user-4_icon.svg);
}

.user__name {
  line-height: 19.2px;
  color: #000000;
}

.user__location {
  position: relative;
  padding-right: 17px;
}
.user__location::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 6px;
  width: 3px;
  height: 3px;
  background-color: #BDBDBD;
}

.user__location.smallParagraph,
.day.smallParagraph {
  color: #BDBDBD;
}

.feedbacks__text.smallParagraph {
  color: #767474;
}

.feedbacks__range {
  max-width: 599px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 24px;
}

.range {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(0deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 1;
}
.range::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #F5F7F6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.range::-moz-range-thumb {
  position: relative;
  width: 115.19px;
  height: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
  z-index: 5;
}
.range::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 115.19px;
  height: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
  z-index: 5;
}
.range:hover {
  opacity: 0.7;
}

.footer {
  background-color: #111115;
  padding-bottom: 50px;
}

.footer__upblock {
  padding-top: 40px;
}

.up-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.footer .logo {
  padding: 2.55px 4.75px 2.55px 6px;
  height: 52px;
  text-align: center;
  font-size: 18px;
}

.block-form__title {
  padding-bottom: 13px;
  color: #FFFFFF;
}

.footer__button {
  padding-bottom: 43px;
}

.footer__button .button {
  padding: 0px 0px 0px 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.down-block__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.down-block__column_second {
  padding-left: 118px;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 9px;
}

.social a {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-top: 1px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.social a:hover {
  color: #4B9200;
  transition: all 0.3s ease-out;
}
.social a:hover .icon-circle_gray {
  background: #4B9200;
  transition: all 0.3s ease-out;
}

.footer .navigation {
  align-items: flex-end;
}

.down-block p {
  color: #FFFFFF;
  font-weight: 100;
  padding-bottom: 9px;
}
.down-block p:last-child {
  padding-bottom: 0;
}

.main-donate .watch-block {
  padding-top: 24.09%;
  background-size: cover;
  background-position: center;
}

.peek-feed-donate {
  padding-top: 43px;
  padding-bottom: 179px;
}

.peek-feed-donate__title {
  padding-right: 4px;
  padding-bottom: 7px;
  color: #FFFFFF;
  text-align: center;
}

.peek-feed-donate__title_orange {
  color: #FE9013;
}

.peek-feed-donate__text {
  padding-bottom: 46px;
  font-weight: 400;
  color: #FFFFFF;
}

.peek-feed-donate__content {
  padding: 0;
  margin-top: 59px;
}

.peek-feed-donate__content .subcontainer {
  width: 976px;
  padding-bottom: 61.98px;
  padding-left: 0;
}

.peek-feed-donate__content .peek-feed__title {
  padding-top: 40px;
  padding-right: 14px;
  padding-bottom: 22px;
}

.peek-feed-donate__content .peek-feed__subtitle {
  color: #333B41;
}

.animal-block {
  display: flex;
  align-items: center;
  column-gap: 89px;
  padding-left: 215px;
  padding-bottom: 49px;
}

.animal-block__date {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 74px;
}

.animal-block__number {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 57.6px;
  color: #000000;
}

.animal-block__close {
  position: absolute;
  right: -25px;
  bottom: 53px;
}

.close {
  width: 14px;
  height: 14px;
  background-image: url(../../assets/icons/x_icon.svg);
}

.animal-block__image {
  position: relative;
  padding-top: 18px;
}

.animal-block__image img {
  display: block;
  width: 100%;
  height: auto;
}

.amount__text {
  padding-left: 4px;
  padding-bottom: 16px;
  text-align: left;
}

.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 27px;
  margin-bottom: 50px;
  background-color: #404950;
}
.progress-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 94%;
  margin-left: 2.7%;
  margin-right: 3.3%;
  margin-top: -2px;
  background-color: #72828E;
}

.progress-bar__content {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: 0.6%;
  margin-right: 1%;
  text-align: start;
  justify-content: space-between;
  z-index: 5;
}

.progress-bar__item {
  position: relative;
}

input[type=radio].progress-bar__input {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 20px;
  background-clip: content-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFEE2E;
  -webkit-appearance: none;
  appearance: none;
}

.progress-bar__item input[type=radio] {
  cursor: pointer;
}

input[type=radio].progress-bar__input::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 11.6px;
  width: 22.4px;
  height: 22.4px;
  background-color: transparent;
  border: 2px solid #FE9013;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.5s ease-out;
}

input[type=radio].progress-bar__input:checked::before {
  transform: scale(1);
}

input[type=radio].progress-bar__input:hover::before {
  transform: scale(1);
}

input[type=radio].progress-bar__input::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 2px solid #FE9013;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.5s ease-out;
}

input[type=radio].progress-bar__input:checked::after {
  transform: scale(1);
}

input[type=radio].progress-bar__input:hover::after {
  transform: scale(1);
}

.progress-bar__price {
  position: absolute;
  left: -8px;
  top: 53px;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36.4px;
  color: #333B41;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-5000] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-5000] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-2000] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-2000] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-1000] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-1000] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-500] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-500] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-250] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-250] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-100] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-100] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-50] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-50] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:checked ~ label[for=amount-25] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

input[type=radio].progress-bar__input:hover ~ label[for=amount-25] {
  transition: all 0.3s ease-out;
  color: #FE9013;
}

.amount__input {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

.amount__choice {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 29px;
}

.choice-group {
  display: flex;
  column-gap: 50px;
  margin-left: -17px;
}

.choice-group__item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

input[type=radio].choice-group__input {
  position: relative;
  width: 16px;
  height: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FE9013;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  appearance: none;
}

input[type=radio].choice-group__input:checked {
  background-color: #E47209;
}

.amount__button {
  padding-bottom: 30px;
}

.amount__button .button {
  margin-left: 5px;
}

.amout__text_last {
  padding-left: 5px;
}

.main {
  margin-top: -80px;
}
@media (max-width: 640px) {
  .main {
    margin-top: -46px;
  }
}

.main-donate {
  margin-top: 0px;
}

/*# sourceMappingURL=style.css.map */
