.footer {
    background-color: $color-footer-bg;
    padding-bottom: 49px;
    @media (max-width: $tablet-width) {
        padding-bottom: 10px;
    }
    @media (max-width: $mobile-width) {
        padding-bottom: 20px;
	}
}
.footer .container {
    @media (max-width: 390px) {
        margin: 0 10px 0 9px;
    }
}

.footer__upblock {
    padding-top: 40px;
    @media (max-width: $tablet-width) {
        padding-top: 11px;
	}
}

.up-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @media (max-width: $mobile-width) {
        display: block;
        padding-top: 10px;
        padding-bottom: 29px;
        text-align: center;
	}
}

.footer .logo {
    padding: 2.55px 4.75px 2.55px 6px;
    height: 52px;
    text-align: center;
    font-size: 18px;
    @media (max-width: $tablet-width) {
        width: 82px;
        height: 52px;
        border: 0.5px solid $color-white;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
	}
    @media (max-width: $mobile-width) {
        width: auto;
        height: auto;
        font-size: 19.01px;
        line-height: 22.82px;
        border: none;
	}

    &::after {
        @media (max-width: $tablet-width) {
            content: url(../../assets/icons/bamboo.svg);
            bottom: 0;
            left: 11px;
        }
        @media (max-width: $mobile-width) {
            left: 78px;
        }
    }
}

.block-form {
    @media (max-width: $small-width) {
        padding-right: 33px;
	}
    @media (max-width: $tablet-width) {
        display: none;
	}
}

.block-form__title {
    padding-bottom: 13px;
    color: $color-white;
}

.middle-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px;
    @media (max-width: $tablet-width) {
        padding-bottom: 38px;
	}
    @media (max-width: 390px) {
        flex-direction: column;
    }
    @media (max-width: $mobile-width) {
        padding-bottom: 30px;
    }
}

.middle-block .social {
    display: none; 
    @media (max-width: $tablet-width) {
        display: flex;
        row-gap: 20px;
        margin-top: -86px;
	}
    @media (max-width: 390px) {
        flex-direction: row;
        justify-content: center;
        column-gap: 30px;
        padding-bottom: 30px;
        margin: 0;
        order: 1;
    }
}

.middle-block .social-text {
    @media (max-width: $tablet-width) {
        display: none;
	}
}

.footer__button {
    @media (max-width: 390px) {
        order: 2;
        text-align: center;
    }
}

.footer__button .button {
    padding: 0px 0px 0px 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.down-block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: $tablet-width) {
        flex-wrap: wrap;
    }
    @media (max-width: 564px) {
        flex-direction: column;
        align-items: center;
    }
}

.down-block__column {
    &:nth-child(1) {
        @media (max-width: $tablet-width) {
            display: none;
        }
    }
    &:nth-child(2) {
        @media (max-width: 390px) {
            order: 3;
        }
        @media (max-width: $mobile-width) {
            padding-top: 32px;
        }
    }
    &:nth-child(3) {
        @media (max-width: 390px) {
            order: 2;
        }
        @media (max-width: $mobile-width) {
            align-self: flex-end;
        }
    }

    &_second {
        //flex-basis: 50%;
        padding-left: 118px;
        @media (max-width: $small-width) {
            padding-left: 92px;
        }

        @media (max-width: 800px) {
            padding-left: calc(0px + (92 - 0) * ((100vw - 641px) / (800 - 641)));
        }
    }
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 9px;
}

.social a {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-top: 1px;
    color: $color-white;
    text-transform: capitalize;

    &:hover {
        color: $color-link-activ;
        transition: all 0.3s ease-out;
    }

    &:hover .icon-circle_gray {
        background: $color-link-activ;
        transition: all 0.3s ease-out;
    }
}

.footer .navigation {
    align-items: flex-end;
    @media (max-width: 800px) {
       column-gap: calc(10px + (25 - 10) * ((100vw - 641px) / (800 - 641)));
    }
    @media (max-width: $tablet-width) {
        column-gap: 37px;
    }
    @media (max-width: 390px) {
        column-gap: 30px;
    }
}

.down-block p {
    color: $color-white;
    font-weight: 100;
    padding-bottom: 9px;

    @media (max-width: $mobile-width) {
        font-size: 15px;
        line-height: 18px;
    }

    &:last-child {
        padding-bottom: 0;
    }
}



