.preview {
	position: relative;
	width: auto;
	min-height: 800px;
	background-image: url(../../assets/images/background-image.jpg);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: cover;

	@media (max-width: 1160px) {
		min-height: calc(600px + (800 - 600) * ((100vw - 1000px) / (1160 - 1000)));
	}

	@media (max-width: 999px) {
		min-height: calc(450px + (600 - 450) * ((100vw - 320px) / (999 - 320)));
	}

	@media (max-width: 640px) {
		background-position: top 0 left -130px;
	}
}

.preview__container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 640px) {
		justify-content: center;
	}
}

.preview__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	padding-top: 160px;
	width: 680px;
	text-align: center;

	@media (max-width: 999px) {
		padding-top: calc(90px + (160 - 90) * ((100vw - 320px) / (999 - 320)));
	}

	@media (max-width: 640px) {
		max-width: 680px;
	}
/*
	@media (max-width: 1160px) {
		width: calc(500px + (680 - 500) * ((100vw - 1000px) / (1160 - 1000)));
	}
	*/
}

.preview__title,
.preview__subtitle {
	text-shadow: 1px 4px 10px $color-black;
}

.preview .button {
	/*
	@media (max-width: 1160px) {
		width: 270px;
	}
	*/
}
