.rules {
	padding-top: 4rem;
}

.rules__title {
	padding-bottom: 3rem;
}

.rules__text {
	padding-bottom: 2rem;
	font-weight: bold;
}

.rules-list {
	list-style: none;
    counter-reset: num;
	text-align: justify;
}

.rules-list__item {
	padding-bottom: 3rem;

	&:before {
		content: counter(num) ". ";
		counter-increment: num;
		padding-right: 0.5rem;
		font-size: 2.5rem;
		color: $color-primery;
		font-weight: bold;
	}

	@media (max-width: 480px) {
		padding-bottom: 2rem;
	}
}