* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

html,
body {
    scroll-behavior: smooth;
    background-color: $color-white;
}

body {
    height: 100%;
    font-size: 16px;
    line-height: 22.4px;
	font-family: 'Roboto', Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $color-black-light;
}

h1 {
    font-size: 19.01px;
    line-height: 22.82px;
    text-align: center;
    font-weight: 300; 
    @media (max-width: $tablet-width) {
        font-size: 12.29px;
        line-height: 14.75px;
		font-weight: 400;
	}
}

h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 57.6px;
    color: $color-black-light;
    @media (max-width: $small-width) {
		margin-top: -10px;
	}
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: $color-black-light;
}

h4 {
    font-size: 24px;
    line-height: 28.8px;
    font-style: normal;
    font-weight: 400;
}

h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-black;
    text-transform: uppercase;
    @media (max-width: $small-width) {
		font-size: calc(12.5px + (16 - 12.5) * ((100vw - 640px) / (1000 - 640)));
        line-height: calc(17.5px + (20 - 17.5) * ((100vw - 640px) / (1000 - 640)));
	}
    @media (max-width: $mobile-width) {
		font-size: 12.5px;
        line-height: 17.5px;
	}
}

.smallParagraph {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $color-black;
}

