
.header__burger {
    display: none;
    @media (max-width: $tablet-width) {
		display: block;
	}
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @media (max-width: $tablet-width) {
		row-gap: 2px;
	}

    &::after {
        content: '';
        width: 18px;
        height: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: $color-white;
    }

    &::before {
        content: '';
        width: 18px;
        height: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: $color-white;
    }
}

.burger span {
    width: 18px;
    height: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: $color-white;
}

.burger-close {
    position: relative;
    width: 30px;
    height: 30px;
    &::after {
        content: "";
        position: absolute;
        bottom: 13px;
        left: 7.5px;
        width: 18px;
        height: 2px;
        background-color: $color-primery;
        opacity: 0.7;
        transform: rotate(-45deg);
    }
}

.burger-close span {
    position: absolute;
    top: 15px;
    left: 7.5px;
    width: 18px;
    height: 2px;
    background-color: $color-primery;
    opacity: 0.7;
    transform: rotate(45deg);
}