.button {
    display: inline-block;
    width: 298px;
    height: 55px;
    padding: 0 2px 0 5px;
    //font-weight: 500;
    font-size: 15px;
    line-height: 22.4px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-primery-light;
    //background-image: linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    

    &:hover {
        //background-image: linear-gradient(113.96deg, $color-primery-dark 1.49%, $color-primery-dark 101.44%);
        background-color: $color-primery-dark;
        //background: linear-gradient(108.71deg, rgba(228, 114, 9, 1) 39.22%, rgba(0, 0, 0, 1) 90.31%);
        //opacity: 1;
        transition: 0.5s;
    }

    &:active {
        background-color: $color-link-activ;
        
    }
}