.button {
    position: relative;
    display: inline-block;
    width: 298px;
    height: 55px;
    padding: 0px 0px 0px 7px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    line-height: 22.4px;
    text-transform: uppercase;
    color: $color-white;
    background: $color-primery-light linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 1s;
  
    &:hover {
        background: $color-primery-dark;
        transition: all 0.3s ease-out;
    }

    &:active {
        background-color: $color-link-activ; 
    }
}

.button-sumbit {
    padding:  9px 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #F1F3F2;
    cursor: pointer;

    &_defoult {
        border: 1px solid $color-black-light;
    }

    &:hover {
        background-color: $color-gray-light;
        transition: all 0.3s ease-out;
    }
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 21px 10px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: $color-gray-light;
    border: 0.7px solid $color-primery;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
}

input[type="email"]:focus {
    border: 0.7px solid $color-link-activ;
}

input[type="number"]:focus {
    border: 1px solid $color-link-activ;
}

input[type="email"]:not(:focus):not(:placeholder-shown):invalid {
	border: 0.7px solid $color-mistake;
}

input[type="number"]:not(:focus):not(:placeholder-shown):invalid {
	border: 1px solid $color-mistake;
    color: $color-mistake;
}

input[type="email"]:not(:focus):not(:placeholder-shown):invalid + button {
	border: 1px solid $color-mistake;
    color: $color-mistake;
}

input[type="email"]:not(:focus):not(:placeholder-shown):valid {
	border: 0.7px solid $color-primery;
}

input[type="number"]:not(:focus):not(:placeholder-shown):valid {
    color: $color-link-activ;
	border: 1px solid $color-border-gray;
}

input[type="email"]:not(:focus):not(:placeholder-shown):valid + button {
	border: 1px solid $color-link-activ;
    color: $color-link-activ;
}

.input {
    &::placeholder {
        color: $color-gray-light;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-gray-light;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-gray-light;
    }
}

.input-default {
    position: relative;
    padding: 14px 21px 15px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    &_width-270 {
        width: 270px;
        @media (max-width: $tablet-width) {
            padding: 10px 21px 7px 7px;
            width: 182px;
        }
    }

    &_gray {
        border: 1px solid $color-border-gray;
    }
}

.inputwrapper {
    position: relative;
}

.inputwrapper::after {
    content: '$';
    position: absolute;
    right: 9px;
    top: 17px;
    font-size: 24px;
    color: $color-border-gray;
    @media (max-width: $tablet-width) {
        top: 11px;
    }
}


