.icon {
    display: inline-block;

    &_prev {
        width: 16px;
        height: 8px;
        background-image: url(../../assets/icons/arrow-prev_icon.svg);
        background-repeat: no-repeat;
    }

    &_next {
        width: 16px;
        height: 8px;
        background-image: url(../../assets/icons/arrow-next_icon.svg);
        background-repeat: no-repeat;
    }

    &_pay {
        width: 108px;
        height: 60px;
        background-image: url(../../assets/icons/pay_icon.svg);
        background-repeat: no-repeat;
        z-index: 5;
    }

    &_zoo {
        width: 85.77px;
        height: 96px;
        background-image: url(../../assets/icons/zoo_icon.svg);
        background-repeat: no-repeat;
        z-index: 5;
    }

    &_monkey {
        width: 124.75px;
        height: 73px;
        background-image: url(../../assets/icons/monkey_icon.svg);
        background-repeat: no-repeat;
        z-index: 5;
    }

    &_facebook {
        width: 8px;
        height: 16px;
        background-image: url(../../assets/icons/facebook_icon.svg);
        background-repeat: no-repeat;
    }

    &_twitter {
        width: 16px;
        height: 14px;
        background-image: url(../../assets/icons/twitter_icon.svg);
        background-repeat: no-repeat;
    }

    &_instagram {
        width: 16px;
        height: 16px;
        background-image: url(../../assets/icons/instagram_icon.svg);
        background-repeat: no-repeat;
    }

    &_youtube {
        width: 18px;
        height: 12.99px;
        background-image: url(../../assets/icons/youtube_icon.svg);
        background-repeat: no-repeat;
    }

    &_panda-donate {
        width: 284px;
        height: 246px;
        background-image: url(../../assets/icons/panda-donate_icon.svg);
        background-repeat: no-repeat;
    }
}

.icon-circle {
    width: 62px;
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.icon-cicrcle_orange {
    background: $color-primery-light linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
    //background-color: $color-primery-light;
    //background: linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
}

.icon-cicrcle_orange:hover {
    background: $color-primery-dark;
    //background-color: $color-primery-dark;
    transition: all 0.3s ease-out;
}

.icon-cicrcle_orange:active {
    background-color: $color-link-activ;
    transition: all 0.3s ease-out;
}

.icon-circle_gray {
    background: rgba(196, 196, 196, 0.5);
}

.social .icon-circle {
    width: 26px;
    height: 26px;
}


.icon-square_white {
    position: relative;
	width: 168px;
	height: 168px;
    display: inline-flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	z-index: 4;

    &::before {
        content: '';
        position: absolute;
        top: 1px;
	    left: 1px;
	    bottom: 1px;
	    right: 1px;
	    background: $color-white;
	    z-index: 1;
	    -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
}



