.icon {
    display: inline-block;

    &_prev {
        width: 16px;
        height: 8px;
        background-image: url(../icons/arrow-prev_icon.svg);
        background-repeat: no-repeat;
    }

    &_next {
        width: 16px;
        height: 8px;
        background-image: url(../icons/arrow-next_icon.svg);
        background-repeat: no-repeat;
    }

    &_pay {
        width: 108px;
        height: 60px;
        background-image: url(../icons/pay_icon.svg);
        background-repeat: no-repeat;
        z-index: 5;
    }

    &_zoo {
        width: 85.77px;
        height: 96px;
        background-image: url(../icons/zoo_icon.svg);
        background-repeat: no-repeat;
        z-index: 5;
    }

    &_monkey {
        width: 124.75px;
        height: 73px;
        background-image: url(../icons/monkey_icon.svg);
        background-repeat: no-repeat;
        z-index: 5;
    }
}

.icon-circle {
    width: 62px;
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.icon-cicrcle_orange {
    background-color: $color-primery-light;
    //background: linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
}


.icon-cicrcle_orange:hover {
    background-color: $color-primery-dark;
    transition: all 0.3s ease-out;
}

.icon-cicrcle_orange:active {
    background-color: $color-link-activ;
    transition: all 0.3s ease-out;
}

.icon-square_white {
    position: relative;
	width: 168px;
	height: 168px;
    display: inline-flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	z-index: 4;

    &::before {
        content: '';
        position: absolute;
        top: 1px;
	    left: 1px;
	    bottom: 1px;
	    right: 1px;
	    background: $color-white;
	    z-index: 1;
	    -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
}



