.logo {
    position: relative;
    padding:  3.55px 4.75px;
    width: 82px;
    height: 50px;
    border: 1px solid $color-white;
    @media (max-width: $tablet-width) {
        width: 49px;
        height: auto;
		padding: 0;
        border: 0;
	}

    &:hover {
        border: 1px solid $color-primery;  
    }

    &::after {
        content: url(../../assets/icons/bamboo.svg);
        position: absolute;
        bottom: 0;
        left: 10px;
        @media (max-width: $tablet-width) {
            content: url(../../assets/icons/bamboo-tablet.svg);
            position: absolute;
            bottom: -4px;
            left: 3px;
        }
    }

    &:hover::after {
        content: url(../../assets/icons/bamboo_hover.svg);
        position: absolute;
        bottom: 0;
        left: 10px;
        @media (max-width: $tablet-width) {
            content: url(../../assets/icons/bamboo-tablet_hover.svg);
            position: absolute;
            bottom: -4px;
            left: 3px;
        }
    }
    &_burger {
        display: none;
        @media (max-width: $tablet-width) {
            display: block;
            position: relative;
            padding:  2.84px 3.8px;
            margin-bottom: 30px;
            width: 65.6px;
            height: 41.6px;

            color: $color-primery;
            border: 1px solid $color-primery;
        }
    }
}

.logo.logo_burger::after {
    content: url(../../assets/icons/bamboo-menu.svg);
    position: absolute;
    bottom: -2px;
    left: 9px;
}

.logo_burger h1 {
    font-size: 15.21px;
    line-height: 18px;
}
