.pets {
    padding-top: 74px;
    padding-bottom: 100px;
    background-image: url(../../assets/images/palm-bg-foto-1.png), url(../../assets/images/strelitzia-bg-foto-1.png);
    background-position: left 0px bottom 0px, right 0px bottom 0px;
    background-repeat: no-repeat;
    @media (max-width: 1599px) {
        padding-top: calc(40px + (74 - 40) * ((100vw - 1000px) / (1340 - 1000)));
        padding-bottom: 138px;
        background-image: url(../../assets/images/palm-bg-foto-2.png), url(../../assets/images/strelitzia-bg-foto-2.png);
    }
    @media (max-width: $tablet-width) {
        padding-bottom: 100px;
        background-position: left -58px bottom 0px, right 0px bottom 0px;
        background-image: url(../../assets/images/palm-bg-foto-2.png), url(../../assets/images/strelitzia-bg-foto-3.png);
    }
    @media (max-width: 639px) {
        padding-bottom:  60px;
        background-image: url(../../assets/images/palm-bg-foto-320.png), url(../../assets/images/strelitzia-bg-foto-320.png);
        background-position: left 0px bottom 0px, right 0px bottom -4px;
	}
}

//-----slider----

.pets__slider {
    padding-bottom:  80px;
    @media (max-width: $tablet-width) {
        padding-bottom:  61px;
    }
    @media (max-width: 639px) {
        padding-bottom:  20px;
	}
}

.slider__wrapper {
    position: relative;
}

.slider__nav {
    position: absolute;
    top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 872px;
    
    &_prev {
        left: -82px;
        @media (max-width: 1340px) {
            left: calc(323px + (393 - 323) * ((100vw - 1000px) / (1340 - 1000)));
        }
        @media (max-width: $small-width) {
            left: calc(205px + (323 - 205) * ((100vw - 641px) / (1000 - 641)));
        }
        @media (max-width: $tablet-width) {
            left: 223px;
        }
    }

    &_prev span {
        cursor: pointer;
    }

    &_next {
        right: -80px;
        @media (max-width: 1340px) {
            right: calc(322px + (396 - 322) * ((100vw - 1000px) / (1340 - 1000)));
        }
        @media (max-width: $small-width) {
            right: calc(205px + (322 - 205) * ((100vw - 641px) / (1000 - 641)));
        }
        @media (max-width: $tablet-width) {
            right: 223px;
        }
    }

    &_next span {
        cursor: pointer;
    }
    @media (max-width: 1340px) {
        display: block;
        height: auto;
        top: calc(369px + (434 - 369) * ((100vw - 1000px) / (1340 - 1000)));
	}
    @media (max-width: $small-width) {
        top: calc(258px + (369 - 258) * ((100vw - 641px) / (1000 - 641)));
	}
    @media (max-width: $tablet-width) {
        top: 344px;
	}
    @media (max-width: 639px) {
        display: none;
    }
}

.slider__body {
    width: 100%;
    overflow: hidden; 
}


.slider__content {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    left: 0;
    @media (max-width: 1340px) {
        flex-direction: row;
        column-gap: 26px;
	}
    @media (max-width: 999px) {
		column-gap: 25px;
	}
    @media (max-width: 639px) {
		justify-content: center;
	}
    @media (max-width: $mobile-width) {
		justify-content: flex-start;
	}
}

.slider__block {
    display: flex;
    column-gap: 27px;
    @media (max-width: 1600px) { 
        row-gap: calc(92px + (20 - 92) * ((100vw - 1340px) / (1600 - 1340)));
	}
    @media (max-width: 1340px) {
        flex-direction: column;
        row-gap: 92px;
	}
    @media (max-width: 639px) {
        row-gap: 20px;
	}
}

.slider__block-2 {
    @media (max-width: 639px) {
        display: none;
	}
}

.block-one, .block-two {
    display: flex;
    column-gap: 27px;
    @media (max-width: 1340px) {
        column-gap: 26px;
	}
    @media (max-width: 999px) {
		column-gap: 25px;
	}
    @media (max-width: 639px) {
       flex-direction: column;
	}
    @media (max-width: 639px) {
        row-gap: 20px;
	}
}

.block-one-2 .slider__item_1 {
    @media (max-width: 1340px) {
        order: 2;
        display: none;
	} 
    @media (max-width: $small-width) {
        display: block;
	}
}

.block-one-2 .slider__item_2 {
    @media (max-width: 1340px) {
        order: 1;
	}
}

.block-two-2 .slider__item_3 {
    @media (max-width: 1340px) {
        order: 1;
	}
}

.block-two-2 .slider__item_4 {
    @media (max-width: 1340px) {
        order: 2;
        display: none;
	}
    @media (max-width: $small-width) {
        display: block;
	}
}

.slider__item {
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid $color-primery-light;

    &:hover {
        cursor: pointer;
    }

    &:hover .info__name, &:hover .info__location {
        top: -80px;
        color: $color-white;
        transition: all 0.5s ease-out;
    }

    &:hover .slider__image::after {
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    &:hover .slider__image img {
        transform: scale(1.05);
        transition: all 0.5s ease-out;
    }
}

.slider__image {
    position: relative;
    width: 366px;
    overflow: hidden;
    @media (max-width: 1340px) {
		width: calc(294px + (366 - 294) * ((100vw - 1000px) / (1340 - 1000)));
	}

    @media (max-width: $small-width) {
		width: calc(175px + (294 - 175) * ((100vw - 641px) / (1000 - 641)));
	}
    @media (max-width: $tablet-width) {
		width: 285.24px;
	}
}
.slider__image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.slider__image img {
    
    display: block;
    width: 100%;
    height: auto;
}

.slider__info {
    position: relative;
    padding: 9px 55px 12px 15px;
    background-repeat: no-repeat; 
    @media (max-width: $tablet-width) {
		padding: 6px 55px 7px 12px;
	}
}

.slider__info_eat-banana {
    background-image: url(../../assets/icons/eat-banana_icon.svg);
    background-position: top 11px right 11px;
    @media (max-width: $tablet-width) {
		background-size: 10%;
        background-position: top 6px right 11px;
	}
}

.slider__info_eat-meat {
    background-image: url(../../assets/icons/eat-meat_icon.svg);
    background-position: top 9px right 7px;
    @media (max-width: $tablet-width) {
		background-size: 13%;
        background-position: top 7px right 6px;
	}
    @media (max-width: $mobile-width) {
		background-size: 13%;
        background-position: top 7px right 8px;
	}
}

.info__name {
    position: relative;
    top: 0;
}

.info__location {
    position: relative;
    top: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $color-black;

    &_activ {
        display: block;
        @media (max-width: $tablet-width) {
            display: none;
        }
    }
    &_hidden {
        display: none;
        @media (max-width: $tablet-width) {
            display: block;
        }
    }

    @media (max-width: $small-width) {
		font-size: calc(11.7px + (15 - 11.7) * ((100vw - 640px) / (1000 - 640)));
        line-height: calc(14px + (18 - 14) * ((100vw - 640px) / (1000 - 640)));
	}
    @media (max-width: $mobile-width) {
		font-size: 11.7px;
        line-height: 14px;
	}
}

//-------end slider

.pets__button {
    display: flex;
    justify-content: center;
}

.pets .button {
    padding: 0px 0px 0px 3px;
}