.peek-feed {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    @media (max-width: $small-width) {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 29px;
        padding-bottom: 20px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 30px;
    }
}

.peek-feed .container {
    @media (max-width: $tablet-width) {
        margin: 0;
    }
    @media (max-width: $mobile-width) {
        margin: 0 11px 0 10px;
    }
}

.peek-feed a {
    display: inline-block;
    border-bottom: 1px solid $color-primery;
    color: $color-black;
    
}

.peek-feed__subtitle,
.peek-feed__text,
.peek-feed__text-bold {
    text-align: justify;
}

.peek-feed__content {
    //padding: 40px 51px 59px 99px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

.peek-feed__title {
    padding-right: 39px;
    padding-bottom: 33px;
    padding-top: 40px;
    color: $color-primery-light;
    @media (max-width: $small-width) {
        padding-top: 30px;
        padding-bottom: 21px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 11px;
        padding-left: 20px;
        font-size: 42px;
        line-height: 50.4px;
    }
    @media (max-width: $mobile-width) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 21px;
        padding-bottom: 11px;
        font-size: 24px;
        line-height: 28.8px;
        text-align: center;
    }
}

.peek-feed__subtitle {
    padding-bottom: 41px;
    @media (max-width: $small-width) {
        padding-left: 10px;
        padding-bottom: 21px;
    }
    @media (max-width: $tablet-width) {
        padding-left: 0;
        padding-bottom: 19px;
        font-size: 22px;
        line-height: 26.4px;
        text-align: left;
    }
    @media (max-width: $mobile-width) {
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;
        line-height: 21.6px;
        text-align: center;
    }
}

.peek-feed__text,
.peek-feed__text-bold {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
}

.peek-feed__text {
    padding-right: 140px;
    @media (max-width: $small-width) {
        padding-left: 10px;
        padding-right: 95px;
    }
    @media (max-width: $tablet-width) {
        padding-left: 0px;
        padding-right: 28px;
    }
    @media (max-width: $mobile-width) {
        display: none;
    }
}

.peek-feed__text-bold {
    padding-bottom: 9px;
    font-weight: 500;
    @media (max-width: $small-width) {
        padding-left: 10px;
        padding-right: 101px;
    }
    @media (max-width: $tablet-width) {
        padding-left: 0px;
        padding-right: 33px;
    }
    @media (max-width: $mobile-width) {
        display: none;
    }
}

.payment {
    padding-top: 60px;
    @media (max-width: $small-width) {
        padding-top: 40px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 30px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 0;
    }
}

.payment__title {
    padding-right: 42px;
    padding-bottom: 40px;
    @media (max-width: $tablet-width) {
        padding-right: 22px;
        padding-bottom: 19px;
    }
    @media (max-width: $mobile-width) {
        padding-right: 0;
        font-size: 24px;
        line-height: 28.8px;
    }
}

.payment__content {
    display: flex;
    justify-content: space-around;
    padding-right: 48px;
    padding-bottom: 61px;
    @media (max-width: $small-width) {
        padding-right: 25px;
        padding-bottom: 72px;
    }
    @media (max-width: $tablet-width) {
        padding-right: 13px;
        padding-bottom: 42px;
    }
    @media (max-width: 564px) {
        flex-direction: column;
        padding-right: 0px;
        width: 168px;
        margin: 0 auto;
    }
    @media (max-width: $mobile-width) {
        row-gap: 38px;
        padding-bottom: 36px;
    }
}

.payment__item {
    flex: 0 1 168px;
}

.payment__item_left {
    padding-left: 36px;
    @media (max-width: $small-width) {
        padding-left: 0px;
        margin-left: -14px;
    } 
    @media (max-width: $tablet-width) {
        margin-left: -20px;
    }
    @media (max-width: 564px) {
        margin-left: 0px;
    }
}
.payment__item_right {
    padding-right: 26px;
    @media (max-width: $small-width) {
        padding-right: 0px;
        margin-left: 0px;
    }
    @media (max-width: 564px) {
        margin-left: 0px;
    }
    @media (max-width: $mobile-width) {
        margin-top: -12px;
    }
}

.payment__text {
    text-align: left;
    padding-top: 29px;
    @media (max-width: $mobile-width) {
        padding-top: 13px;
    }
}

.payment__item_arrow {
    position: relative;

    &::after {
        position: absolute;
        content: url(../../assets/icons/arrow_icon.svg);
        top: 59px;
        right: -100px;
        @media (max-width: 920px) {
            right: -80px;
        }
        @media (max-width: 862px) {
            content: url(../../assets/icons/arrow-green_icon.svg);
            right: -65px;
            top: -17px;
            z-index: 5;
        }
        @media (max-width: $tablet-width) {
            right: -57px;
        }
        @media (max-width: 564px) {
            content: url(../../assets/icons/arrow-green-vertical_icon.svg);
            top: 168px;
            right: -30px;
        }
        @media (max-width: $mobile-width) {
            right: -31px;
        }
    }
}

.payment__button {
    padding-right: 40px;
    @media (max-width: $tablet-width) {
        padding-right: 20px;
    }
}

