.watch-block {
    position: relative;
    //top: -80px;
    width: 100%;
    height: 0;
    padding-top: calc(0.487 * 100%);
    background-image: url(../../assets/images/giant-panda.jpg);
   // background-position: top center;
    background-repeat: no-repeat;
	background-size: contain;
    z-index: 1;
    @media (max-width: $small-width) {
        padding-top: 58.4%;
        background-size: cover;
        background-position: center;
    }
    @media (max-width: 768px) {
        padding-top: 63.4%; 
    }
    @media (max-width: $tablet-width) {
        padding-top: 65.4%;
        background-position: -103px 27px;   
    }
    @media (max-width: 552px) {
        padding-top: 76.4%;
    }
    @media (max-width: 440px) {
        padding-top: 86.4%;
    }
    @media (max-width: 363px) {
        padding-top: 96.4%;
    }
    @media (max-width: $mobile-width) {
        padding-top: 83.4%;
        background-position: -32px 80px;
        background-size: 120%; 
    }
}

.watch-block__container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.watch-block__content {
    position: relative;
    //width: 500px;
    padding-top: 86px;
    padding-right: 10px;
    z-index: 10;
    @media (max-width: 1600px) {
        padding-top: calc(48px + (86 - 48) * ((100vw - 1001px) / (1600 - 1001)));
        padding-right: calc(100px + (10 - 100) * ((100vw - 1001px) / (1600 - 1001)));
    }

    @media (max-width: $small-width) {
        //padding-top: 42px;
        padding-top: calc(49px + (42 - 49) * ((100vw - 640px) / (1000 - 640)));
        //padding-right: 65px;
        padding-right: calc(1px + (65 - 1) * ((100vw - 640px) / (1000 - 640)));
    }
    @media (max-width: $mobile-width) {
        padding-top: 43px;
    }
}

.watch-block__text {
    position: relative;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 79.87px;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    z-index: 10;
    @media (max-width: 1600px) {
        font-size: calc(72.5px + (106.5 - 72.5) * ((100vw - 1001px) / (1600 - 1001)));
        line-height: calc(55.87px + (79.87 - 55.87) * ((100vw - 1001px) / (1600 - 1001)));
    }
    @media (max-width: $small-width) {
        //font-size: 85px;
        font-size: calc(54.4px + (85 - 54.4) * ((100vw - 640px) / (1000 - 640)));
        //line-height: 64px;
        line-height: calc(40.8px + (64 - 40.8) * ((100vw - 640px) / (1000 - 640)));
    }
    @media (max-width: $mobile-width) {
        font-size: 28px;
        line-height: 21px;
    }
}

.watch-block__text span {
    color: $color-yellow;
}

.watch-block__button {
    padding-top: 61px;
    padding-right: 100px;
    text-align: center;
    @media (max-width: 1600px) {
        padding-top: calc(15px + (61 - 15) * ((100vw - 1001px) / (1600 - 1001)));
        padding-right: calc(115px + (100 - 115) * ((100vw - 1001px) / (1600 - 1001)));
    }
    @media (max-width: $small-width) {
        padding-top: 40px;
        padding-right: 106px;
    }
    @media (max-width: 980px) {
        padding-top: 0px;
        padding-right: 0px;
        align-self: flex-start;
    }
    @media (max-width: $tablet-width) {
        margin-top: -10px;
    }
    @media (max-width: 552px) {
        margin-top: 0px;
        padding-top: 5px;
    }
    @media (max-width: $mobile-width) {
        padding-top: 59px;
    }
}

.circle {
    position: absolute;
    top: 12px;
    left: -81px;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, $color-primery 1.49%, $color-primery-light 101.44%);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 9;

    @media (max-width: 1600px) {
        width: calc(320px + (465 - 320) * ((100vw - 1001px) / (1600 - 1001)));
        height: calc(320px + (465 - 320) * ((100vw - 1001px) / (1600 - 1001)));
        top: calc(10px + (12 - 10) * ((100vw - 1001px) / (1600 - 1001)));
        left: calc(-55px + (-81 - (-55)) * ((100vw - 1001px) / (1600 - 1001)));
    }

    @media (max-width: $small-width) {
        //top: -11px;
        top: calc(12px + (-11 - 12) * ((100vw - 640px) / (1000 - 640)));
        //left: -63px;
        left: calc(-41px + (-63 - (-41)) * ((100vw - 640px) / (1000 - 640)));
        //width: 367px;
        width: calc(237px + (367 - 237) * ((100vw - 640px) / (1000 - 640)));
        //height: 367px;
        height: calc(237px + (367 - 237) * ((100vw - 640px) / (1000 - 640)));
    }

    @media (max-width: $mobile-width) {
        top: 21px;
    }
}