* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    font-family: 'Aleo', Arial, Verdana, sans-serif;
}

body {
	height: 100%;  
}

ul {
	list-style: none;
}

h1 {
    font-size: 40px;
    color: $color-primery;
}


