.player {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.player-controls {
	display: flex;
	align-items: flex-start;
    column-gap: 1rem;
}

.player-progress {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	width: 93%;

	@media (max-width: 850px) {
		width: 88%;
	}

	@media (max-width: 680px) {
		width: 80%;
	}

	@media (max-width: 600px) {
		width: 70%;
	}

	@media (max-width: 500px) {
		width: 65%;
	}

	@media (max-width: 480px) {
		width: 84%;
	}
}

.progress__bar {
	width: 100%;
}

.progress__time {
	display: flex;
	justify-content: space-between;
	@media (max-width: 570px) {
		column-gap: 1rem;
	}
}

.player-volume {
	display: flex;
	column-gap: 2rem;
	@media (max-width: 480px) {
		column-gap: 1rem;
	}
}

.player-volume-range {
	@media (max-width: 500px) {
		width: 65%;
	}

	@media (max-width: 480px) {
		width: 84%;
	}
}

.player-volume-range-answer {
	@media (max-width: 570px) {
		width: 65%;
	}
	@media (max-width: 480px) {
		width: 84%;
	}
}